<div class="container">
  <h1 class="d-flex justify-content-center text-white mt-5" [style.color]="appInfo.color">Color Application</h1>
  <h4 class="d-flex justify-content-center text-white mt-5" >ID: {{appInfo.id}}</h4>
  <h4 class="d-flex justify-content-center text-white" >Group ID: {{appInfo.groupId}}</h4>
  <h4 class="d-flex justify-content-center text-white" >Artifact Id: {{appInfo.artifactId}}</h4>
  <h4 class="d-flex justify-content-center text-white" >Version: {{appInfo.version}}</h4>
  <h4 class="d-flex justify-content-center text-white" >Message: {{appInfo.message}}</h4>

  <hr>

  <h3 class="d-flex justify-content-center text-white mt-5">Current Color: {{appInfo.color | uppercase}}</h3>

</div>
